In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [109]:
df = pd.read_csv('../Resources/elektronisk-rapportering-ers-2018-fangstmelding-dca-simple.csv', delimiter=';')
df.head(5)

,Melding ID,Meldingstidspunkt,Meldingsdato,Meldingsklokkeslett,Starttidspunkt,Startdato,Startklokkeslett,Startposisjon bredde,Startposisjon lengde,Hovedområde start (kode),...,Art - FDIR,Art - gruppe (kode),Art - gruppe,Rundvekt,Lengdegruppe (kode),Lengdegruppe,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
0,1497177,01.01.2018,01.01.2018,00:00,31.12.2017,31.12.2017,00:00,"-60,35","-46,133",NaN,...,Antarktisk krill,506.0,Antarktisk krill,706714.0,5.0,28 m og over,9432.0,NaN,"19,87","133,88"
1,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Hyse,202.0,Hyse,9594.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
2,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Torsk,201.0,Torsk,8510.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
3,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Blåkveite,301.0,Blåkveite,196.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
4,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Sei,203.0,Sei,134.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"

In [110]:
df.dtypes

Melding ID                    int64
Meldingstidspunkt            object
Meldingsdato                 object
Meldingsklokkeslett          object
Starttidspunkt               object
Startdato                    object
Startklokkeslett             object
Startposisjon bredde         object
Startposisjon lengde         object
Hovedområde start (kode)    float64
Hovedområde start            object
Lokasjon start (kode)       float64
Havdybde start                int64
Stopptidspunkt               object
Stoppdato                    object
Stoppklokkeslett             object
Varighet                      int64
Fangstår                      int64
Stopposisjon bredde          object
Stopposisjon lengde          object
Hovedområde stopp (kode)    float64
Hovedområde stopp            object
Lokasjon stopp (kode)       float64
Havdybde stopp                int64
Trekkavstand                float64
Redskap FAO (kode)           object
Redskap FAO                  object
Redskap FDIR (kode)         float64
Redskap FDIR                 object
Hovedart FAO (kode)          object
Hovedart FAO                 object
Hovedart - FDIR (kode)      float64
Art FAO (kode)               object
Art FAO                      object
Art - FDIR (kode)           float64
Art - FDIR                   object
Art - gruppe (kode)         float64
Art - gruppe                 object
Rundvekt                    float64
Lengdegruppe (kode)         float64
Lengdegruppe                 object
Bruttotonnasje 1969         float64
Bruttotonnasje annen        float64
Bredde                       object
Fartøylengde                 object
dtype: object

In [111]:
df = df[['Art - FDIR','Rundvekt', 'Hovedområde start', 'Starttidspunkt', 'Redskap FDIR', 'Varighet', 'Fartøylengde', ]].copy()
df

,Art - FDIR,Rundvekt,Hovedområde start,Starttidspunkt,Redskap FDIR,Varighet,Fartøylengde
0,Antarktisk krill,706714.0,NaN,31.12.2017,Flytetrål,1440,"133,88"
1,Hyse,9594.0,Bjørnøya,30.12.2017 23:21,Bunntrål,295,"56,8"
2,Torsk,8510.0,Bjørnøya,30.12.2017 23:21,Bunntrål,295,"56,8"
3,Blåkveite,196.0,Bjørnøya,30.12.2017 23:21,Bunntrål,295,"56,8"
4,Sei,134.0,Bjørnøya,30.12.2017 23:21,Bunntrål,295,"56,8"
...,...,...,...,...,...,...,...
305429,Gråsteinbit,145.0,Vest-Spitsbergen,31.12.2018 19:41,Bunntrål,232,"57,3"
305430,Uer (vanlig),136.0,Vest-Spitsbergen,31.12.2018 19:41,Bunntrål,232,"57,3"
305431,Flekksteinbit,132.0,Vest-Spitsbergen,31.12.2018 19:41,Bunntrål,232,"57,3"
305432,Snabeluer,102.0,Vest-Spitsbergen,31.12.2018 19:41,Bunntrål,232,"57,3"
305433,Blåkveite,63.0,Vest-Spitsbergen,31.12.2018 19:41,Bunntrål,232,"57,3"

In [112]:
df.dtypes

Art - FDIR            object
Rundvekt             float64
Hovedområde start     object
Starttidspunkt        object
Redskap FDIR          object
Varighet               int64
Fartøylengde          object
dtype: object

In [113]:
df['Fartøylengde'] = pd.to_numeric(df['Fartøylengde'].str.replace(',', '.'))
df['Starttidspunkt'] = pd.to_datetime(df['Starttidspunkt'], format='mixed')

In [114]:
# Extract useful features from datetime column
df['Year'] = df['Starttidspunkt'].dt.year
df['Month'] = df['Starttidspunkt'].dt.month
df['Day'] = df['Starttidspunkt'].dt.day
df['Hour'] = df['Starttidspunkt'].dt.hour
df['Minute'] = df['Starttidspunkt'].dt.minute

# Drop the original datetime column
df = df.drop(columns=["Starttidspunkt"])

In [115]:
df.dtypes

Art - FDIR            object
Rundvekt             float64
Hovedområde start     object
Redskap FDIR          object
Varighet               int64
Fartøylengde         float64
Year                   int32
Month                  int32
Day                    int32
Hour                   int32
Minute                 int32
dtype: object

In [116]:
print(df.isnull().sum())

Art - FDIR           4982
Rundvekt             4978
Hovedområde start    4124
Redskap FDIR          188
Varighet                0
Fartøylengde            0
Year                    0
Month                   0
Day                     0
Hour                    0
Minute                  0
dtype: int64

In [117]:
df = df.dropna()
df

,Art - FDIR,Rundvekt,Hovedområde start,Redskap FDIR,Varighet,Fartøylengde,Year,Month,Day,Hour,Minute
1,Hyse,9594.0,Bjørnøya,Bunntrål,295,56.8,2017,12,30,23,21
2,Torsk,8510.0,Bjørnøya,Bunntrål,295,56.8,2017,12,30,23,21
3,Blåkveite,196.0,Bjørnøya,Bunntrål,295,56.8,2017,12,30,23,21
4,Sei,134.0,Bjørnøya,Bunntrål,295,56.8,2017,12,30,23,21
5,Hyse,9118.0,Bjørnøya,Bunntrål,267,56.8,2017,12,31,5,48
...,...,...,...,...,...,...,...,...,...,...,...
305429,Gråsteinbit,145.0,Vest-Spitsbergen,Bunntrål,232,57.3,2018,12,31,19,41
305430,Uer (vanlig),136.0,Vest-Spitsbergen,Bunntrål,232,57.3,2018,12,31,19,41
305431,Flekksteinbit,132.0,Vest-Spitsbergen,Bunntrål,232,57.3,2018,12,31,19,41
305432,Snabeluer,102.0,Vest-Spitsbergen,Bunntrål,232,57.3,2018,12,31,19,41
305433,Blåkveite,63.0,Vest-Spitsbergen,Bunntrål,232,57.3,2018,12,31,19,41

In [118]:
df = pd.get_dummies(df)

In [119]:
df.dtypes

Rundvekt                          float64
Varighet                            int64
Fartøylengde                      float64
Year                                int32
Month                               int32
                                   ...
Redskap FDIR_Snurpenot/ringnot       bool
Redskap FDIR_Snurrevad               bool
Redskap FDIR_Teiner                  bool
Redskap FDIR_Udefinert garn          bool
Redskap FDIR_Udefinert trål          bool
Length: 197, dtype: object

In [120]:
X = df.drop(['Rundvekt'], axis=1)
y = df[['Rundvekt']]

In [125]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
tree = DecisionTreeRegressor(max_depth=5, min_samples_leaf=5)
tree.fit(X_train, y_train)
print("Accuracy on training set: {:.3f}".format(tree.score(X_train, y_train)))
print("Accuracy on test set: {:.3f}".format(tree.score(X_test, y_test)))

Accuracy on training set: 0.593
Accuracy on test set: 0.616